@model SaajeApplic.Models.Projet

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Projet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanAction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanAction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtatProjet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtatProjet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCloture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCloture)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProjetId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
