@model SaajeApplic.Models.Projet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Projet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanAction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanAction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtatProjet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtatProjet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCloture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCloture)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
