@using Microsoft.AspNetCore.Identity
@using SaajeApplic.Areas.Identity.Data
@model IEnumerable<SaajeApplic.Models.Projet>
@inject SignInManager<AppUser> SignInManager;

@{
    ViewData["Title"] = "Index";
}

<div class="card w-100" style="margin:auto">
    <div class="card-header text-white" style="background-color:darkorange ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3><i class="fa-solid fa-list"></i> Liste des Projets</h3>
                </div>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <div class="col">
                        <a asp-action="Create" class="btn btn-success w-18" style="float:right"><i class="fa-solid fa-plus"></i> Ajouter </a>
                    </div>
                }
                

            </div>

        </div>
    </div>

    <div class="card-body">
        <table class="table table-hover table-striped table-warning table-bordered" style="width:100%; overflow-x: auto">
            <thead style="background-color:sandybrown">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjetName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.PlanAction)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateDebut)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateLine)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EtatProjet)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCloture)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjetName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlanAction)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateDebut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateLine)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EtatProjet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCloture)
                        </td>
                        <td>
                            <div class="btn-group w-25" role="group">
                                <a asp-action="Edit" class="p-1" asp-route-id="@item.ProjetId"><i class="fa-solid fa-eye" style="color:cornflowerblue"></i></a> 
                                <a asp-action="Details" class="mx-1 p-1" asp-route-id="@item.ProjetId"><i class="fa-solid fa-pen-to-square" style="color:coral"></i></a>
                                <a asp-action="Delete" class="p-1" asp-controller="Application" asp-route-projetId="@item.ProjetId"><i class="fa-solid fa-trash" style="color:crimson"></i></a>
                            </div>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


